@import url("./style2.css");
form{
    background-color:#f2f2f2;
    padding: 20px;}

fieldset{
    background-color: blanchedalmond;
    border-radius: 30px;
    border: 1px solid #ccc;
    padding: 10px;}