label{
    color: black;
    font-weight: bold;
    font-size: 25px;
}

label::after{
    content: ":";
    color: black;
    font-weight: bold;
    font-size: 25px;
}

label:first-of-type::before{
    content: "🤷‍♀️";
}

label:last-of-type::before{
    content: " 🔑";
}
button{
    background-color: mediumvioletred;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">